<div class="container mt-4">
  <h2>Customers</h2>
  <a routerLink="/customers/add" class="btn btn-success mb-2">Add Customer</a>
  <table class="table table-bordered">
    <thead>
      <tr><th>Name</th><th>Phone</th>
        <th>Address</th>
        <th>Actions</th></tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <td>{{c.name}}</td>
        <td>{{c.phone}}</td>
        <td>
          <button class="btn btn-primary btn-sm"  [routerLink]="['/customers', c.id, 'addresses']">Show Addresses</button>
        </td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="editCustomer(c.id)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteCustomer(c.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>
